.content__box{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 10px;
}
.content__box :nth-child(1){
    flex: 1;
}
.content__box :nth-child(2){
    flex: 3;
}

.content__body__item{
    padding: 30px;
    background: white;
    border-bottom: 2px solid #20abe3;
    color: #383838;
    font-size: 1.1rem;
}