.main{
    margin-top: 170px;
    margin-bottom: 2rem;
    min-height: 100vh;
}
.container{
    display: flex;
}
.sidebar , .content {
    background-color: #F4F4F4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    
}

@media only screen and (max-width: 500px) {
    .sidebar , .content{
        flex-direction: column;
    }
}